<?xml version="1.0"?>
<robot>
<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="pa10_transmission">

    <transmission name="S1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="S1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="S1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="S2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="S2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="s2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="S3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="S3">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="S3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="E1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="E1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="E1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="E2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="E2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="E2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="W1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="W1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="W1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="W2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="W2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="W2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/pa10</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

<!-- base_link -->
  <gazebo reference="base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>


  <!-- Link1 -->
  <gazebo reference="link_1">
    <material>Gazebo/Green</material>
  </gazebo>

  <!-- Link2 -->
  <gazebo reference="link_2">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Link3 -->
  <gazebo reference="link_3">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Green</material>
  </gazebo>

  <!-- Link4 -->
  <gazebo reference="link_4">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Link5 -->
  <gazebo reference="link_5">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Green</material>
  </gazebo>

  <!-- Link6 -->
  <gazebo reference="link_6">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>
